[defaults]
host_key_checking = False
inventory = ./hosts.ini
remote_user = ubuntu

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p -i \$HOME/.ssh/id_rsa -o StrictHostKeyChecking=no ubuntu@51.250.82.97"
pipelining = True
