filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
  fields:
    type: nginx-access

- type: log
  enabled: true
  paths:
    - /var/log/nginx/error.log
  fields:
    type: nginx-error

output.elasticsearch:
  hosts: ["http://{{ hostvars['elastic-server']['ansible_host'] }}:9200"]

logging.level: info